<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小葵花妈妈开课啦~</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'css/index.css')}}">
    <script src="{{ url_for('static',filename = 'js/index.js')}}"></script>
    <link rel="shortcut icon" href="https://cdn-img.9118bao.com/favicon.ico" type="image/x-icon">
  
</head>

<body>

    <div class="demo1">固定在顶部</div>

    <section class="item">
        
        <div class="img_src">
            <a href="{{name_paly_src[0]}}" target="_blank">
                
                <img src="{{name_img_src[0]}}" alt=" {{name_paly_src[0]}}" srcset="">
               
            </a>
           
        </div>
        <div class="textare">
            <span>
                {{name_title[0]}}
            </span>
            <!-- <span>
                {{name_paly_src[2]}}
            </span> -->
        </div>
     
    </section>
 



    <section class="item">

        <div class="img_src">
            <a href="{{name_paly_src[1]}}" target="_blank">
                <img src="{{name_img_src[1]}}" alt=" {{name_paly_src[1]}}" srcset="">
            </a>

        </div>
        <div class="textare">
            <span>
                {{name_title[1]}}
            </span>
            <!-- <span>
                {{name_paly_src[0]}}
            </span> -->
        </div>
    </section>
   

  

 
    
    <section class="item">

        <div class="img_src">
            <a href="{{name_paly_src[2]}}" target="_blank">
                <img src="{{name_img_src[2]}}" alt=" {{name_paly_src[2]}}" srcset="">
            </a>

        </div>
        <div class="textare">
            <span>
                {{name_title[2]}}
            </span>
            <!-- <span>
                {{name_paly_src[2]}}
            </span> -->
        </div>
    </section>


    <section class="item">

        <div class="img_src">
            <a href="{{name_paly_src[3]}}" target="_blank">
                <img src="{{name_img_src[3]}}" alt=" {{name_paly_src[3]}}" srcset="">
            </a>

        </div>
        <div class="textare">
            <span>
                {{name_title[3]}}
            </span>
            <!-- <span>
                {{name_paly_src[3]}}
            </span> -->
        </div>
    </section>

    <section class="item">

        <div class="img_src">
            <a href="{{name_paly_src[4]}}" target="_blank">
                <img src="{{name_img_src[4]}}" alt=" {{name_paly_src[4]}}" srcset="">
            </a>

        </div>
        <div class="textare">
            <span>
                {{name_title[4]}}
            </span>
            <!-- <span>
                {{name_paly_src[4]}}
            </span> -->
        </div>
    </section>


    <section class="item">

        <div class="img_src">
            <a href="{{name_paly_src[5]}}" target="_blank">
                <img src="{{name_img_src[5]}}" alt=" {{name_paly_src[5]}}" srcset="">
            </a>

        </div>
        <div class="textare">
            <span>
                {{name_title[5]}}
            </span>
            <!-- <span>
                {{name_paly_src[5]}}
            </span> -->
        </div>
    </section>



    <section class="item">

        <div class="img_src">
            <a href="{{name_paly_src[6]}}" target="_blank">
                <img src="{{name_img_src[6]}}" alt=" {{name_paly_src[6]}}" srcset="">
            </a>

        </div>
        <div class="textare">
            <span>
                {{name_title[6]}}
            </span>
            <!-- <span>
                {{name_paly_src[6]}}
            </span> -->
        </div>
    </section>


    <section class="item">

        <div class="img_src">
            <a href="{{name_paly_src[7]}}" target="_blank">
                <img src="{{name_img_src[7]}}" alt=" {{name_paly_src[7]}}" srcset="">
            </a>

        </div>
        <div class="textare">
            <span>
                {{name_title[7]}}
            </span>
            <!-- <span>
                {{name_paly_src[7]}}
            </span> -->
        </div>
    </section>


    <section class="item">

        <div class="img_src">
            <a href="{{name_paly_src[8]}}" target="_blank">
                <img src="{{name_img_src[8]}}" alt=" {{name_paly_src[8]}}" srcset="">
            </a>

        </div>
        <div class="textare">
            <span>
                {{name_title[8]}}
            </span>
            <!-- <span>
                {{name_paly_src[8]}}
            </span> -->
        </div>
    </section>


    

    <section class="item">

        <div class="img_src">
            <a href="{{name_paly_src[9]}}" target="_blank">
                <img src="{{name_img_src[9]}}" alt=" {{name_paly_src[9]}}" srcset="">
            </a>

        </div>
        <div class="textare">
            <span>
                {{name_title[9]}}
            </span>
            <!-- <span>
                {{name_paly_src[9]}}
            </span> -->
        </div>
    </section>


    <section class="item">

        <div class="img_src">
            <a href="{{name_paly_src[10]}}" target="_blank">
                <img src="{{name_img_src[10]}}" alt=" {{name_paly_src[10]}}" srcset="">
            </a>

        </div>
        <div class="textare">
            <span>
                {{name_title[10]}}
            </span>
            <!-- <span>
                {{name_paly_src[10]}}
            </span> -->
        </div>
    </section>


    <section class="item">

        <div class="img_src">
            <a href="{{name_paly_src[11]}}" target="_blank">
                <img src="{{name_img_src[11]}}" alt=" {{name_paly_src[11]}}" srcset="">
            </a>

        </div>
        <div class="textare">
            <span>
                {{name_title[11]}}
            </span>
            <!-- <span>
                {{name_paly_src[11]}}
            </span> -->
        </div>
    </section>

    <section class="item">

        <div class="img_src">
            <a href="{{name_paly_src[12]}}" target="_blank">
                <img src="{{name_img_src[12]}}" alt=" {{name_paly_src[12]}}" srcset="">
            </a>

        </div>
        <div class="textare">
            <span>
                {{name_title[12]}}
            </span>
            <!-- <span>
                {{name_paly_src[12]}}
            </span> -->
        </div>
    </section>
    <section class="item">

        <div class="img_src">
            <a href="{{name_paly_src[13]}}" target="_blank">
                <img src="{{name_img_src[13]}}" alt=" {{name_paly_src[13]}}" srcset="">
            </a>

        </div>
        <div class="textare">
            <span>
                {{name_title[13]}}
            </span>
            <!-- <span>
                {{name_paly_src[13]}}
            </span> -->
        </div>
    </section>





</body>

</html>